// Place all the styles related to the others controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table{
  margin-top: 30px;
}
.circle{
  width: 70px;
  height: 70px;
  border-radius: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-color:grey ;
  background-color: orange;
}
#header{
  font-size: 30px;
}